<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCotizLabel" jhiTranslate="ndoumriMutuelleApp.cotiz.home.createOrEditLabel">Create or edit a Cotiz</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cotiz.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cotiz.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.cotiz.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="cotiz.amount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.cotiz.currency" for="field_currency">Devise</label>
            <select class="form-control" name="currency" [(ngModel)]="cotiz.currency" id="field_currency" value="MRU">
                <option value="MRU">MRU</option>
                <option value="MRO">MRO</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.cotiz.paymentDate" for="field_paymentDate">Payment Date</label>
            <div class="d-flex">
                <input id="field_paymentDate" type="datetime-local" class="form-control" name="paymentDate" [(ngModel)]="cotiz.paymentDate"
                />
            </div>
        </div>
        <div class="form-group" [hidden]="!cotiz.id">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.cotiz.dueDate" for="field_dueDate">Due Date</label>
            <div class="d-flex">
                <input id="field_dueDate" type="datetime-local" class="form-control" name="dueDate" [(ngModel)]="cotiz.dueDate"
                />
            </div>
        </div>
        <div class="form-group" [hidden]="!cotiz.id">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.cotiz.paymentMode" for="field_paymentMode">Payment Mode</label>
            <select class="form-control" name="paymentMode" [(ngModel)]="cotiz.paymentMode" id="field_paymentMode" value="CASH">
                <option value="CASH">{{'ndoumriMutuelleApp.PaymentMode.CASH' | translate}}</option>
                <option value="OTHER">{{'ndoumriMutuelleApp.PaymentMode.OTHER' | translate}}</option>
            </select>
        </div>
        <div class="form-group" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.cotiz.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="cotiz.userId" >
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.cotiz.engagement" for="field_engagement">Engagement</label>
            <select class="form-control" id="field_engagement" name="engagement" [(ngModel)]="cotiz.engagementId" >
                <option [ngValue]="engagementOption.id" *ngFor="let engagementOption of engagements; trackBy: trackEngagementById">{{engagementOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.cotiz.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="cotiz.comment" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
