<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEngagementLabel" jhiTranslate="ndoumriMutuelleApp.engagement.home.createOrEditLabel">Create or edit a Engagement</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!engagement.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="engagement.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.engagement.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="engagement.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.engagement.expectedAmount" for="field_expectedAmount">Expected Amount</label>
            <input type="number" class="form-control" name="expectedAmount" id="field_expectedAmount"
                [(ngModel)]="engagement.expectedAmount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.engagement.startDate" for="field_startDate">Start Date</label>
            <div class="d-flex">
                <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" [(ngModel)]="engagement.startDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.engagement.endDate" for="field_endDate">End Date</label>
            <div class="d-flex">
                <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="engagement.endDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.engagement.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="engagement.comment" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ndoumriMutuelleApp.engagement.cotiz" for="field_cotiz">Cotiz</label>
            <select class="form-control" id="field_cotiz" name="cotiz" [(ngModel)]="engagement.cotizId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cotizOption.id" *ngFor="let cotizOption of cotizs; trackBy: trackCotizById">{{cotizOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
